body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr; /* Divide the container into two columns, with the first column width set to auto */
  grid-gap: 20px; /* Add some spacing between the columns */
}

h1 {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 30px;
  grid-column: 1 / span 2; /* Span across both columns */
}

#filters {
  margin-bottom: 30px;
  display: flex; /* Use flexbox for the filters */
  flex-direction: column; /* Align filters vertically */
  align-items: flex-start; /* Align filters to the left */
  font-size: 18px; /* Adjust the font size to change the select size */
  width: auto;
}

#filters .filter {
  margin-right: 10px; /* Add spacing between each filter */
}

#sample-metadata table {
  width: auto;
  border-collapse: collapse;
  font-size: 18px; /* Adjust the font size to change the select size */
}

select {
  font-size: 16px;
  width: auto;
}

#sample-metadata th,
#sample-metadata td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  width: auto;
}

#charts {
  /* Add styles as needed for your charts */
}

/* Move the h1 above all other information */
h1 {
  grid-row: 1; /* Move h1 to the first row */
}

#filters {
  grid-row: 2; /* Move filters to the second row */
}

#sample-metadata table {
  grid-row: 3; /* Move restaurant table to the third row */
}

#map-container {
  width: 80%; /* Adjust the width as needed */
  
}

#map {
  height: 300px; /* Set the height of the map */
  
}

#content {
  flex-grow: 1; /* Allow the content to grow and fill the remaining space */
  
}